.nav-bar {
    background-color: var(--background-color-primary);
}

.nav-bar .logo {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.nav-bar .logo span {
    color: var(--accent-color-primary);
}

.nav-bar .navbar-text .profile-image img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    border-radius: 50%;
}

.nav-bar .navbar-text a {
    text-decoration: none;
}