.profile-page {
    background: var(--background-color-secondary);
    padding: 80px 0px;
}

.profile-page .edit-form {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: var(--background-color-primary);
    padding: 40px;
    border-radius: 4px;
    color: var(--text-color-primary);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.profile-page h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.profile-page .input-container {
    margin: 1rem 0;
    width: 100%;
}

.profile-page .input-container.image-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dp {
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
}

.profile-page .input-container .input-field {
    width: 100%;
    padding: 3px 6px;
}

.profile-page .input-container .btn {
    width: 100%;
    margin: 1.25rem 0 0 0;
}

.profile-page .input-container .error {
    color: red;
    font-size: 12px;
}

.profile-page .new {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.profile-page .new:hover,
.profile-page .new:active {
    opacity: 1;
    text-decoration: none;
}